.producto:hover .col{
    background-size: 120%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.imgprod{
	overflow: hidden;
    height: 75%;
}
.producto img{
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.producto .nombre{
	border-bottom: 0px solid red;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.producto:hover {
	border-bottom: 1px solid red
}

.imgprod .col{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-position: center;
}
.activo{
    background-color: #1e4b94;
    color: white;
}
.producto{
    height: 300px;
    overflow: hidden;
}
.nombre{
    text-overflow: ellipsis;
    overflow: hidden;
}
.dropdown-menu{
    height: 81vh;
    overflow: scroll;
}