@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
  font-weight: bold !important;
}
.buscar {
	position: relative;
	/*margin-top: -20% !important;
	margin-left: 80% !important;*/
	color: black !important;
	padding: 0% 0%;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  border: 0px;
}
.borde{
  border-radius: 4px 0px 0px 4px;

}
.buscar:hover{
	background-color: #1e4b94;
	opacity: 0.8
}
@media (min-width: 768px) { 
	.buscar{
		position: relative;
		margin-top: 0vh !important;

  }
  
 }
 @media (min-width:  960px) { 
  #sesion div{
    margin-left: -88% !important;
  
  }
  .carrito{
    padding-top: 36% !important;
  
  }
}
.btn-primary{
  background-color: #1e4b94 !important;
    border-color: #1e4b94 !important;
}
.carrito{
  padding-top: 0%;

}

.form-control:focus {
    color: #495057;
    background-color: #f1f1f1;
    border-color: #102952;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #102952;
}
.fondobody{
	background-color:#e6e3e3;
}
.footer{
	background-color:#5d6163;

}
.header{
	background-color: #1e4b94
}
.nav-item> a{
	color: white !important;
}
.nav-item div>a{
	color: black !important;
}
.my-custom-scrollbar {
  position: relative;
  width: 10000px;
  height: 400px;
  overflow: auto;
}
.buscadori{
	width: 97% !important;
}
.menu{
	justify-content: space-between;
}

.dropdown-item:hover{
	background-color: blue;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown .dropbtn:before {    
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.dropdown:hover .dropbtn:before { 
  width: 100%; 
  left: 0; 
}
#sesion div{
  margin-left: 0% ;

}
.textofooter{
  font-size: 20px;
}
.fondorojo{
  background-color: #660204;
}
.redes:hover img{
  filter: contrast(0);
  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.redes img{
  cursor: pointer;
  filter: contrast(1);
  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
