.aventura{
	position: relative;
    padding-top: 5%;
    /* width: 50%; */
    color: #660204;
    line-height: 50px;
    font-size: 50px;
    /* padding-left: 27%; */
    text-align: center;
}
.precio{
    font-weight: bold;
    font-size: 110%;
}
@media (min-width: 768px) { 
    
    .botonindex{
        margin-top: 9%;
        font-size: 23px;
    }
    .deportes{
        background-position-y: 29% !important;
    }
    .inf{
        height: 40%;
        width: 100%;
    }
    
}
.inf{
    height: 30%;
    width: 100%;
}
@media (min-width: 576px) {
    .futbol{
        background-position-y: 90% !important;

    }
    .aventura{
        font-size: 100px;
        line-height: 80px;
        padding-top: 10%;

    }
}

@media (max-width: 576px) {
    .aventura{
        padding-top: 2% !important;
        font-size: 35px !important;
        line-height: 32px !important;

    } 
    .botonindex{
        margin-top: 5% !important;
        font-size: 15px !important;
    }
    .imagenprincipal{
        padding-bottom: 2vh !important;
        background-size: 130% !important;
        min-height: 24vh !important;
        background-position-y: center;

    }
    .futbol{
        background-position-y: 90% !important;

    }
}

.imagenprincipal{
	background-image: url("img/baloncesto.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	  margin: 0 auto;
	padding-bottom: 10vh;
}
.botonindex{
	margin-top: 5%;
	font-size: 23px;
}
.botonindex:hover{
    color: #660204
}
.ciclismo{
	background-image: url("img/ciclismo.jpg");

}
.correr{
	background-image: url("img/correr.jpg");

}
.basket{

	background-image: url("img/basket.jpg");

}
.futbol{
	background-image: url("img/futbol.jpg");
}
.rojo{
	background-color: #1e4b94;
	color: white
}
.deportes{
    background-position-x: center;
	height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.deportes:before{
	content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.imagendep{
/*	min-height: 300px;
*/	overflow: hidden;
	width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.nombred{
	display: none;
    font-size: 230%;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
 .imagendep:hover .nombred {
    display: block;
}
.imagendep:hover .deportes:before{
	background-color:  rgba(10,10,10,0.75);
}
/*
.correr:after{
	content: "aaaaa";
	
}
.basket:after{
	content: "aaaaa";
	
}
.ciclismo:after{
	content: "aaaaa";
	
}
.futbol:after{
	content: "aaaaa";
	
}*/
.imagendep:hover .deportes{
	transform: scale(1.15);

}
.imgprod .col{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-position: center;
}

.producto{
    cursor: pointer;    
    height: 450px;

}
.producto img{
    -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;
}

.producto:hover {
	border-bottom: 2px solid red
}
.imgprod{
	overflow: hidden;
    height: 75%;
}
.producto:hover .col{
    background-size: 120%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}